{% extends "base_generic.html" %}

{% block content %}

{% block javascript %}

{% endblock %}

<form action="{% url 'resources' %}" method="POST">{% csrf_token %}
    <label for="access_key_id">Access key id: </label>
    <input id="access_key_id" type="text" name="access_key_id" value="{{ current_id }}">

    <label for="secret_access_key">Secret access key: </label>
    <input id="secret_access_key" type="text" name="secret_access_key" value="{{ current_key }}">

    <label for="aws_region">AWS region: </label>
    <input id="aws_region" type="text" name="aws_region" value="{{ aws_region }}">

    <input type="submit" value="Query">
</form>
{% endblock %}
