{% extends "base_generic.html" %}

{% block content %}

<form action="{% url 'main' %}" method="post">{% csrf_token %}
    <label for="access_key_id">Access key id: </label>
    <input id="access_key_id" type="text" name="access_key_id" value="{{ current_id }}">

    <label for="secret_access_key">Secret access key: </label>
    <input id="secret_access_key" type="text" name="secret_access_key" value="{{ current_key }}">

    <label for="aws_region">AWS region: </label>
    <input id="aws_region" type="text" name="aws_region" value="{{ aws_region }}">

    <input type="submit" value="Query">
</form>

{% if aws_resources %}
<div>
    <h2>S3</h2>
    {% if aws_resources.s3 %}
        <table class="table table-striped">
            <thead class=""thead-dark>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Tags(key=>value)</th>
                <th scope="col">Creation date</th>
            </tr>
        </thead>
            <tbody>
            {% for bucket in aws_resources.s3.buckets %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{bucket.name}}</td>
                    <td>
                        {% for tag, value in bucket.tags.items %}
                            {{ forloop.counter }}. {{tag}} <b>=></b> {{value}} <br>
                        {% empty %}
                            No tags
                        {% endfor %}
                    </td>
                    <td>{{bucket.creation_date}}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <span>Error: {{aws_ressources.s3.error}}</span>
    {% endif %}
</div>
<div>
    <h2>EC2</h2>
    {% if aws_resources.ec2.status == "ok" %}
        <table class="table table-striped">
            <thead class=""thead-dark>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Reservation</th>
                    <th scope="col">Size</th>
                    <th scope="col">State</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Tags(key=>value)</th>
                    <th scope="col">Launch time</th>
                </tr>
            </thead>
            <tbody>
                {% for vm in aws_resources.ec2.response %}
                    <span>Owner: {{aws_resources.ec2.response.owner}}</span>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{vm.id}}</td>
                        <td>{{vm.reservation}}</td>
                        <td>{{vm.type}}</td>
                        <td>{{vm.state}}</td>
                        <td>{{vm.owner}}</td>
                        <td>
                            {% for tag, value in vm.tags.items %}
                                {{ forloop.counter }}. {{tag}} <b>=></b> {{value}} <br>
                            {% empty %}
                                No tags
                            {% endfor %}
                        </td>
                        <td>{{vm.launch_time}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <span>Error: {{aws_ressources.ec2.error}}</span>
    {% endif %}
</div>
{% endif %}

{% endblock %}